[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sportsreference = "*"
flask-sqlalchemy = "*"
category-encoders = "*"
xgboost = "*"
pandas = "*"
numpy = "*"
gunicorn = "*"
scikit-learn = "*"

[requires]
python_version = "3.6"
